<%if policy(@user).show? %>
  <h1>Users#show</h1>
  <p><strong>Membership:</strong><%if @user.user_level == "Member" %> Paid Member <% else %>Free Member <% end%></p>
  <p>Find me in app/views/users/show.html.erb</p>
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List of My Wikis</div>

  <!-- Table -->
  <table class="table">
    <THEAD>
    <TR>
      <TH SCOPE=col ROWSPAN=2>Wiki</TH>
      <TH SCOPE=col ROWSPAN=2>time Submitted</TH>
    </TR>
  </THEAD>

<% @wikis.each do |wiki| %>
      <TBODY>
        <TR>
          <TD>
            <p><%= link_to wiki.title, wiki_path(wiki.id)%></p>
          </TD>
            <TD>
              <%= time_ago_in_words(wiki.created_at) %> ago
            </TD>
        </TR>
    </TBODY>
<%end%>
</table>
</div>


<%end%>