<h1>UserPlans#update_plan</h1>
<p>Find me in app/views/user_plans/update_plan.html.erb</p>
<div class="row">
  <div class="col-md-6">
    <p>Create as many public wikis as you want</p>
    <span><%= link_to "Free Plan", wikis_path, class: 'glyphicon glyphicon-star' %></span>
  </div>
  <div class="col-md-6">
    <p>Create private wikis</p>
    <span><%= link_to "Free Plan", "#", class: 'glyphicon glyphicon-star-empty' %></span>
  </div>
</div>
 
